html, body {
	height:100%;
}

body {
	font-family: 'Open Sans', sans-serif;
  	font-weight: 300;
  	background-color: #000000; 
}

/*Label for country name when hovering.*/
.hoverlabel {
	padding: 4px;
	border-radius: 4px;
	background-color: white;
	opacity: 0.75;
	font-size: 0.8em;
	color: black;
}

/*The canvas*/
#container {
	position: absolute;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

/*The canvas for the map.*/
#mapContainer{
	position: relative;
	top:0px;
	height:80%;
	width:70%;
	float:left;

}

<<<<<<< HEAD
#rightContainer{

color:white;
width:225px;
float: right;



}
#leftButtons{


color:white;
width:225px;
float: left;	


}


=======
/*Rigt canvas: map explanation*/
#rightContainer{
	position: relative;
	height: 100%;
	width: 20%;
	float: right;
	font-size: 2em;
	color: red;
	font-family: Trebuchet MS; 
	}
>>>>>>> 1ed05e4e9b8d95e38f98ed6766743a302517f9a2
